<div class="form-group"><label class="col-sm-2 control-label">Filter</label>
    <div class="col-sm-10"><input type="text" class="form-control" name="filter" required value="nosex"></div>
</div>
<div class="hr-line-dashed"></div>
<div class="form-group"><label class="col-sm-2 control-label">Tile</label>

    <div class="col-sm-10"><input type="text" class="form-control" name="tile"required value="{{ consulta.tile }}"></div>
        </div>
<div class="hr-line-dashed"></div>
<div class="form-group"><label class="col-sm-2 control-label">Code</label>
    <div class="col-sm-10"><input type="text" class="form-control" name="code_1"required value="jetlore"></div>
</div>
{% if id_html_builder_structure %}
    <input type="hidden" class="form-control" name="id_html_builder_structure" value="{{ id_html_builder_structure }}" hidden>
{% endif %}